FIPS Compliance Issues with Go 1.24

In the upcoming Go version 1.24, there are several improvements related to FIPS 140-3 compliance https://github.com/golang/go/issues/69536. This issue is to track the problems we are encountering when using Go 1.24 with the `fips-only` mode (`GODEBUG="fips140=only"`), and to provide an update on the progress.

We are facing an issue related to the use of fixed nonce. 
According to section 5.8 of RFC 9001, quic requires a fixed nonce for the handshake retry, but this conflicts with FIPS, which prohibits the use of fixed nonces. 
This issue occurs during the initialization of the handshake retry, which prevents the import of the quic library in FIPS-only mode.

Moreover, this problem is not limited to the handshake retry; there are other places in the code where this issue arises. When running tests with `fips-only` mode enabled, multiple panic errors are raised with the following message:
```
panic: crypto/cipher: use of GCM with arbitrary IVs is not allowed in FIPS 140-only mode, use NewGCMWithRandomNonce
```


As mentioned in https://github.com/quic-go/quic-go/pull/4892#issuecomment-2601856164, we could move to a lazy initialization of the retry cipher, but arguably, this would just be a workaround: initializing state is exactly what `init` was designed for.

I'd like to understand how FIPS mode is supposed to work with QUIC at all, since using a fixed nonce is required by the RFC (and doesn't pose a security risk in this case). Maybe Go's verification logic is too strict?

We should probably block the v0.49 on the resolution of this issue, particularly on https://github.com/golang/go/issues/69536#issuecomment-2606165418. If we actually need to implement the workaround mentioned above, it would be nice to ship that as part of v0.49.0.

My current interpretation of the issue is that the `panic` in `cipher.NewGCM` is too restrictive, and that the proper fix would be to remove it (relax it?) in the Go standard library. @juliens Do you agree?

I think your interpretation is likely correct. While it may not be entirely confirmed, it aligns with the current observations and seems like a reasonable assumption. To ensure full FIPS compliance for Quic-Go, though, we may need to address other aspects beyond just the retry case (maybe all links to the `cipher.NewGCM`).

In the meantime, I think implementing the `sync.Once` change could be a good first step. It has minimal impact (and could even "save" resources when Quic-Go is imported but not actively used) and would help avoid the need for an urgent patch if nothing changes before the Go 1.24 release. If you agree I can make a quick PR before the v0.49.

WDYT?

I'm not sure what the right thing to do is. As you point out, there are probably other changes needed to make quic-go FIPS140-compliant. I don't care about FIPS though, and I don't intend to waste my time on boring compliance stuff (unless someone pays me to do so). 

I'm inclined to not even return an error when building quic-go with `fips140=only`. I don't think it's a valid assumption that your binary suddenly becomes FIPS-compliant, just because you set that build tag and the standard library claims compatibility.

That said, we can make sure that initialization doesn't panic.

> If you agree I can make a quick PR before the v0.49.

You'll need to hurry up though. I'm writing up the release notes right now, so if you get the PR up in the next hour or so, I can still include it.

