consider removing the minimum idle timeout

We currently apply a minimum idle timeout of 5s. Confusingly, we do that when parsing the transport parameters, which means we'll also qlog that value (and not the value that the peer actually sent):
https://github.com/quic-go/quic-go/blob/2dca400b5c16e956710c87120577497c1381dab9/internal/wire/transport_parameters.go#L301-L302

The actual idle timeout is this value plus 3 PTO, according to section 10.1 of RFC 9000. We should only clip the peer's value if this is preventing an actual attack, which I don't think it is.

There's currently some convoluted logic to calculate the keep alive interval, that we'd need to change if we remove this logic:
https://github.com/quic-go/quic-go/blob/2dca400b5c16e956710c87120577497c1381dab9/connection.go#L1781

Not sure what to do about this. Maybe make `KeepAliveInterval` on the `quic.Config` a `func(idleTimeout time.Duration) time.Duration`?

For what it is worth, Neqo uses a local default idle timeout of 30s.

https://github.com/mozilla/neqo/blob/a7581770ff138c16727e92ecb7b47d9ceb95425e/neqo-transport/src/connection/params.rs#L29-L30

And if the peer's timeout is `>0`:

https://github.com/mozilla/neqo/blob/a7581770ff138c16727e92ecb7b47d9ceb95425e/neqo-transport/src/connection/mod.rs#L2612-L2615

Then it chooses the smaller one out of the local and peer's timeout:

https://github.com/mozilla/neqo/blob/a7581770ff138c16727e92ecb7b47d9ceb95425e/neqo-transport/src/connection/idle.rs#L45-L47