Respect minimum idle timeout of 3 PTOs

Currently the idle timeout can be lower than 3 PTOs.

RFC 9000 Section 10.1 states:
> [...] To avoid excessively small idle timeout periods, endpoints **MUST** increase the idle timeout period to be at least three times the current Probe Timeout (PTO). [...]

This is a for example a problem if `Config.MaxIdleTimeout` is set to a value below the path RTT. 
The connection then times out immediately after the handshake.

Suggestion: add `connection.nextIdleTimeoutTime()` that respects the lower bound.
This should also affect the `connection.nextKeepAliveTime()`.
The `Config.HandshakeIdleTimeout` should remain unaffected, since no RTT measurements are available anyways.

Makes sense. Want to submit a patch?

@birneee I had to revert #3859, since it was causing CI failures on master (changed mock interface).

Could you reopen the PR, rebased on top of the current master. Your changes were good, and I'd like to get them into the next release.