How to best implement address validation callback

Hey Marten,

Caddy is getting some attention on HN today due to HTTP/3 being enabled by default: https://news.ycombinator.com/item?id=32768454

[One of the comments asks](https://news.ycombinator.com/item?id=32770091 ) for an implementation of RequireAddressValidation that uses better metrics. Right now we just count `ServeHTTP()` methods (i.e. active HTTP requests), but the commenter says:

> In that case, I don't think your metric works at all, since legitimate users will increase it, but attackers won't. During an attack it will either remain the same, or even go down as fewer legitimate users manage to connect.
>
> This attack is the QUIC equivalent of a SYN flood, which results in half-open connections, because the attacker is unable to complete the connection by responding to message the server sends. RequireAddressValidation corresponds enabling syn cookies.

Do you have any ideas for what might be a better/safer way to determine whether address validation should occur?

Thanks!

Relevant discussions on the QUIC Slack:
1. https://quicdev.slack.com/archives/C68J3KSH3/p1693887786488849
2. https://quicdev.slack.com/archives/C68J3KSH3/p1693946853499139

The discussions on QUIC Slack unfortunately are gone due to Slack's 90 day retention policy, but the takeaway for me was that it makes sense to limit both the number of handshakes from unvalidated and from validated addresses.

In terms of API, here's a proposal. On the `Transport`, we introduce two new configuration options:
```go
type Transport struct {
    // ... lots of existing options ...

    // MaxUnvalidatedHandshakes is the maximum number of concurrent QUIC handshakes originating
    // from unvalidated source addresses.
    // If the number of handshakes from unvalidated addresses reaches this number, new incoming
    // connection attempts will need to proof reachability at the respective source address using the
    // Retry mechanism, as described in RFC 9000 section 8.1.2.
    // Validating the source address adds one additional network-roundtrip to the handshake.
    // When set to a negative value, every connection attempt will need to validate the source address.
    // It does not make sense to set this value higher than MaxHandshakes.
    MaxUnvalidatedHandshakes int
    // MaxHandshakes is the maximum number of concurrent handshakes, both from validated and
    // unvalidated source addresses.
    // If the number of handshakes reaches this number, new connection attempts will be rejected by
    // terminating the connection attempt using a CONNECTION_REFUSED error.
    MaxHandshakes int
}
```

In production, one would set `MaxUnvalidatedHandshakes` to a value that the server can easily handle. It is desirable that the vast majority of incoming connection don't need to undergo source address validation, as the Retry mechanism adds an additional roundtrip to the QUIC handshake. The retry mechanism in itself is not a defense against a ClientHello flood, it is mainly a defense against source address spoofing.
I'm not sure if I'm happy with the default value though: It would be nice if the default value was a reasonable value that's both safe and performant (maybe 32? 100?). On the other hand, we already have precedent for having 0 mean something else, e.g. for the [`InitialStreamReceiveWindow`](https://github.com/quic-go/quic-go/blob/v0.40.1/interface.go#L276-L281).

`MaxHandshakes` would be the backstop for a DoS attack executed by an attacker that is willing to pay the price for completing address validation. Once this limit is reached, there's really not a lot we can do. Certainly sending the client to do perform a Retry is not sufficient, all we can do is tell them to go away (and maybe try again later). Fortunately, this is relatively cheap to do (compared to the cost of a TLS handshake).

This brings me to the remaining open question: What should we do with the [`RequireAddressValidation`](https://github.com/quic-go/quic-go/blob/v0.40.1/interface.go#L266-L270) callback? Is there any value in keeping this callback? One could argue that passing a `net.Addr` to that callback is misleading, since the Retry mechanism is designed to deal with address spoofing attacks. Thus when under attack, the `net.Addr` will be a spoofed address anyway, and it's unclear how an application could make an informed decision with that information.
On the other hand, I can see value in blocking connection attempts (i.e. sending CONNECTION_REFUSED) from certain addresses, as suggested in #2558.





The discussions on QUIC Slack unfortunately are gone due to Slack's 90 day retention policy, but the takeaway for me was that it makes sense to limit both the number of handshakes from unvalidated and from validated addresses.

In terms of API, here's a proposal. On the `Transport`, we introduce two new configuration options:
```go
type Transport struct {
    // ... lots of existing options ...

    // MaxUnvalidatedHandshakes is the maximum number of concurrent QUIC handshakes originating
    // from unvalidated source addresses.
    // If the number of handshakes from unvalidated addresses reaches this number, new incoming
    // connection attempts will need to proof reachability at the respective source address using the
    // Retry mechanism, as described in RFC 9000 section 8.1.2.
    // Validating the source address adds one additional network-roundtrip to the handshake.
    // When set to a negative value, every connection attempt will need to validate the source address.
    // It does not make sense to set this value higher than MaxHandshakes.
    MaxUnvalidatedHandshakes int
    // MaxHandshakes is the maximum number of concurrent handshakes, both from validated and
    // unvalidated source addresses.
    // If the number of handshakes reaches this number, new connection attempts will be rejected by
    // terminating the connection attempt using a CONNECTION_REFUSED error.
    MaxHandshakes int
}
```

In production, one would set `MaxUnvalidatedHandshakes` to a value that the server can easily handle. It is desirable that the vast majority of incoming connection don't need to undergo source address validation, as the Retry mechanism adds an additional roundtrip to the QUIC handshake. The retry mechanism in itself is not a defense against a ClientHello flood, it is mainly a defense against source address spoofing.
I'm not sure if I'm happy with the default value though: It would be nice if the default value was a reasonable value that's both safe and performant (maybe 32? 100?). On the other hand, we already have precedent for having 0 mean something else, e.g. for the [`InitialStreamReceiveWindow`](https://github.com/quic-go/quic-go/blob/v0.40.1/interface.go#L276-L281).

`MaxHandshakes` would be the backstop for a DoS attack executed by an attacker that is willing to pay the price for completing address validation. Once this limit is reached, there's really not a lot we can do. Certainly sending the client to do perform a Retry is not sufficient, all we can do is tell them to go away (and maybe try again later). Fortunately, this is relatively cheap to do (compared to the cost of a TLS handshake).

This brings me to the remaining open question: What should we do with the [`RequireAddressValidation`](https://github.com/quic-go/quic-go/blob/v0.40.1/interface.go#L266-L270) callback? Is there any value in keeping this callback? One could argue that passing a `net.Addr` to that callback is misleading, since the Retry mechanism is designed to deal with address spoofing attacks. Thus when under attack, the `net.Addr` will be a spoofed address anyway, and it's unclear how an application could make an informed decision with that information.
On the other hand, I can see value in blocking connection attempts (i.e. sending CONNECTION_REFUSED) from certain addresses, as suggested in #2558.

---

@mholt I know this is a lot of text, but would you mind taking a quick look at this API proposal? Do you think this makes sense for Caddy?

@marten-seemann I like that. The lib does the hard work for us and we just tune values -- sounds good to me!

One thing I forgot to elaborate on yesterday is 0-RTT. How would a 0-RTT handshake be counted? Here's what I think makes the most sense
* If it contains a (valid) resumption token, it's counted as a handshake with a validated source address, otherwise as a handshake with an unvalidated source address.
* It only counts as "handshaking" as long as it's not available to be returned to the listener. Under normal conditions, this will be a very short time - basically only the time it takes to process the ClientHello (i.e. doing the TLS operations to restore the session, processing the stored transport parameters on the QUIC layer etc.). This should be on the order of milliseconds.

Specifically, this means that a 0-RTT connection is NOT counted towards any limit once the ClientHello has been processed, even though technically the QUIC handshake hasn't completed yet. The reason to treat a 0-RTT connection as such is that we have already passed responsibility for this connection to the application: we already returned it from `Listener.Accept`.

If the application wants, it can impose limits on how many concurrent connections it wishes to handle (it probably should!). This is analogous to how we treat non-0-RTT connections: quic-go doesn't impose any limit how many connections an application can accept concurrently. It's the applications responsibility to make sure that it doesn't bite off more than it can chew.

For source address spoofing, I'm happy with the provided config options. 

A config option that's number of concurrent connections per IP might be nice for added DoS protection. But that's separate from address validation. 

#4248 was merged. I'm not sure when we'll cut the v0.42 release, but if anybody is waiting for the release to start using the new API, please let me know here. We could cut v0.42 early if there's interest.

Thanks Marten. Looking forward to using it :) No hurry on our end for the release.

@marten-seemann Thanks for the update; that proposal looks reasonable, and I see what you mean!

I would love for an implementation like that to either be a default verification function OR to be one that is readily available "off the shelf" (i.e. if I wanted to use it, I could just set it to `quic.RateLimitedAddressVerification(rate, burst)` or something like that.