incorrect documentation for DATAGRAM support in ConnectionState

DATAGRAM support is unidirectional, see section 3 of RFC 9221. We correctly implement this (I think), but the documentation for `ConnectionState.SupportsDatagrams` claims that support for the extension is negotiated.