save the max_datagram_frame_size transport parameter for 0-RTT

Otherwise, it's easy to violate the size requirement described in section 3 of RFC 9221.

> This is not as trivial as just adding the max_datagram_frame_size parameter to `TransportParameters.MarshalForSessionTicket`. We need a way to tell if the DATAGRAM extension was enabled in the first place.
> 
> It looks like the only way to do this is to pass a `negotiatedDatatramExtension bool` to `cryptoSetup.GetSessionTicket`, and only include the `max_datagram_frame_size` in that case.


Hi, I am wondering why we need the negotiatedDatatramExtension parameter when generating the session ticket.  Since max_datagram_frame_size is a unidirectional limit, I guess the server can just put max_datagram_frame_size in the session ticket without any negotiation if EnableDatagrams is set in its config?

@tanghaowillow I just merged #3985. Are you still planning to submit a patch to resolve this issue?

@marten-seemann Yes, but I still have the question mentioned above. I would appreciate if you could give an answer or more guidance.

> Hi, I am wondering why we need the negotiatedDatatramExtension parameter when generating the session ticket. Since max_datagram_frame_size is a unidirectional limit, I guess the server can just put max_datagram_frame_size in the session ticket without any negotiation if EnableDatagrams is set in its config?

Yes, that sounds correct. To be clear, this is the server's value of that parameter.