send an immediate ACK for CE-marked packets

See section 13.2.1 of RFC 9000. Timely acknowledgement of CE-marked packets will speed up congestion control on the sending node.

This is likely very important for proper L4S support (#4002).