missing tls.Config.MinVersion on configs returned by GetConfigForClient

crypto/tls currently checks that the `tls.Config` sets TLS 1.3 as a minimum version (note that this might change with https://github.com/golang/go/issues/63722). However, there's no such check for the config returns by the `GetConfigForClient` callback. And while we set the `MinVersion` field for the outer `tls.Config`, we don't do that for the config returned by `GetConfigForClient`.

This will allow a client to negotiate a TLS version lower than TLS 1.3, since crypto/tls doesn't currently implement a check for the negotiation result (because it incorrectly assumes that any other result than TLS 1.3 is not possible), and also doesn't implement any check for the client's offered versions as defined in section 4.2 of RFC 9001.

I don't see any security implications, since the TLS handshake fails at a later stage, but we should still fix this.