check that the server didn't reduce flow control transport parameters

Section 7.4.1 of RFC 9000 gives a list of transport parameters that the server is not allowed to reduce when resuming a 0-RTT connection. We should check that on the client side.

@marten-seemann  Hi, I just realized that RFC 9000 says these parameters are not allowed to reduced only when the server have accepted the 0-RTT packets, which means the client should only check it if the client is informed its 0-RTT packets are accepted. However I could not find a proper way to check whether the client's 0-RTT packets are accepted when receiving transport  parameters. Am I missing something or I understand the RFC wrong?

Yes, that's correct. We need to be careful here when 0-RTT is rejected. I suggest waiting until https://github.com/quic-go/quic-go/pull/3939 is merged.

We have an integration test for 0-RTT rejection in the case of reduced flow control limits, but we might need to make it stricter.



@marten-seemann  Thanks for the answer. Do you think the order of setting transport parameters and checking early_data extension in this function should be changed ?   Then the client connection can know whether the server have accepted 0-RTT packets before handling the received transport parameters.

https://github.com/quic-go/qtls-go1-20/blob/8ae6b8eca561d0ed44659062acc91c7bae983dde/handshake_client_tls13.go#L451C2-L467