Tracking Issue: FIPS140 compatibility mode

Go 1.24 added a FIPS140 compatibility mode, see https://go.dev/doc/security/fips140.

It is currently not possible to use quic-go in this mode, as RFC 9000 requires us to initialize a GCM with a fixed nonce, which leads to a panic in the standard library's constructor when in FIPS140 mode (see https://github.com/quic-go/quic-go/issues/4894 and the thread in https://github.com/golang/go/issues/69536#issuecomment-2606165418 for details).

We'd also have to carefully evaluate if the key derivation paths used during the handshake, as well as the key update logic is FIPS compliant.

We also need to do research on how we can obtain CVMP validation (for a particular release)?

---

This issue **does not** mean that any work on FIPS140 compliance will happen soon (or at all). Neither does it mean that we're interested in contributions that move quic-go closer to compliance. **Please don't send any PRs.** There's no value in partial compliance, it will likely just increase complexity of the code base with no benefit.

If you're using quic-go and are interested in sponsoring work on FIPS140 compliance, please get in touch with me via email.


Related:
- https://github.com/quic-go/quic-go/issues/5286

> We also need to do research on how we can obtain CVMP validation (for a particular release)?

One only has to go through validation, when one implements cryptography. One doesn't need to get validation if one is using validated module. Thus most common way is to use host OS with an available openssl in fips mode, and a go toolchain fork that redirects standard library cryptography to openssl with guardrails.

See for example https://github.com/microsoft/go but also similar go toolchains with openssl in FIPS mode from other vendors (Chainguard, Ubuntu, RHEL, etc).

In practice this will end up ensuring one doesn't use x/crypto, uses standard library, and the rest is up to the user to use openssl based toolchain, and provide a validated runtime for the resulting binaries with openssl in FIPS mode.

W.R.T. Quic KDFs - will check if fips providers implement enough of them, and go-openssl bindings exists to them, and appropriate redirects / usage out of them.

> One only has to go through validation, when one implements cryptography. One doesn't need to get validation if one is using validated module. Thus most common way is to use host OS with an available openssl in fips mode, and a go toolchain fork that redirects standard library cryptography to openssl with guardrails.

Yes, but RFC 9001 requires us to quite a lot of crypto operations ourselves, with key material derived during the TLS handshake. I'm not sure if that surpasses the threshold to require CVMP validation. This is something we'd need to figure out if we decide to tackle this issue.

> > One only has to go through validation, when one implements cryptography. One doesn't need to get validation if one is using validated module. Thus most common way is to use host OS with an available openssl in fips mode, and a go toolchain fork that redirects standard library cryptography to openssl with guardrails.
> 
> Yes, but RFC 9001 requires us to quite a lot of crypto operations ourselves, with key material derived during the TLS handshake. I'm not sure if that surpasses the threshold to require CVMP validation. This is something we'd need to figure out if we decide to tackle this issue.

That's not quite how it works. One can validate only what they offer automated testing for. And in practice it is cryptographic primitives only. And full protocols are not available for testing, and thus not available for full validation. And all of it is public, and access to demo servers is available upon request.

This is at most what they have for tlsv1.3 https://github.com/usnistgov/ACVP/blob/0290fd54ffc0ff3b91968357f2bc128d9af6b33f/src/tls1.3/sections/04-testtypes.adoc

For tlsv1.2 they have a bit more, to differentiate between extended master secret and not, but that's it. And all CMVP security policies always state that only KDFs were tested, without testing or implementing the full TLS protocol.

Oh, and AES GCM is technically unapproved with external IV.... which is required to support tls. Hence in 2023 they started process to "clarify that the construction of initialization vectors (IVs) for GCM in the Transport Layer Security (TLS) 1.3 protocol is approved". It's still not published - https://csrc.nist.gov/News/2024/nist-to-revise-sp-80038d-gcm-and-gmac-modes and everyone has disclaimers in the security polices that they do what NIST said in guidance is ok.

Similarly many claim support, without even validating TLS-KDF or SSH-KDF. For example, current golang/go uses older boringcrypto module which only has TLSv1.2 KDF validated, yet they enable and do use TLSv1.3 in approved mode. My proposal to upgrade to latest validated boringcrypto module was rejected https://go-review.googlesource.com/c/go/+/681675/1#message-871c50aaee0ce862caa3bc77357dfb4d1b0c3b44 which was extra fun https://github.com/golang/go/issues/74278. No idea why they spent years waiting for validation, and then not use it. The newer geomys module has been submitted, but it is years away from validation.

The best source of action is to offload as much cryptography as possible. And the one that is not available, implement against RFC & have test suites, and then those bits become vendor affirmed or unapproved and that's about it. Hence in practice most if not all of quic-go is out of scope for validation.

> I assume we can apply the same reasoning to the resumption token (section 8.1.1 of RFC 9000), which is used by the server to offload state (e.g. the RTT and the cwnd) to the client between two subsequent connections. We also use AES to encrypt that data, but all we're doing is hiding that data from inspection by middleboxes and the client.

That's the bizarre MAC for retry packets I am talking about, unless I missed something.

> > 2. the bad news is that that API is internal, so we will need to expose it to you somehow in Go 1.27 for strict compliance;
> 
> Any chance we can do that in Go 1.26?

No, way too late for a new Go 1.26 proposal, the freeze is tomorrow.

> I saw your recent CL (https://go-review.googlesource.com/c/go/+/723760) and tried it out. It's super straightforward (after exposing the function from the standard library), I just had to replace
> 
> [quic-go/internal/handshake/cipher_suite.go](https://github.com/quic-go/quic-go/blob/9cb01a2e95229d551e7f592fc14b876d897d7860/internal/handshake/cipher_suite.go#L47)
> 
> Line 47 in [9cb01a2](/quic-go/quic-go/commit/9cb01a2e95229d551e7f592fc14b876d897d7860)
> 
>  aead, err := cipher.NewGCM(aes) 
> with
> 
> cipher.NewGCMForQUIC(aes, nonceMask)
> and everything seemed to work fine.

Awesome! I was hoping you could test it before we get it into the v2.0.0 module, thank you for jumping on it.

> > (3) means that if you were using the TLS 1.3 mechanism of the Go Cryptographic Module v1.0.0 you'd have to do a sentinel Seal with a fake packet counter of zero every time you make new keys, to "prime" it.
> 
> Which function is that? On every key update, would I also have to call `Seal` multiple times, to advance the internal counter to the current packet number. This seems prohibitively expensive, especially on long-lived / high-throughput connections. In that case, I'd probably stick with the current, non-FIPS-certified, solution until we can access the new API.

`gcm.NewGCMForTLS13`. The counter can jump, so you'd only have to call Seal once with counter zero to let it learn the mask, and then use it as usual.

It's not an actionable thing, since it's also an internal function, jsut a note to myself that we might decide to use it to provide the QUIC functionality with the v1.0.0 module, once we expose an API.